/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/karla-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

header {
  position: sticky;
  padding: 5px 0 5px 0;
  font-family: "Karla";
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1.5px;
  text-align: center;
}

.header__container {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  padding-top: 35px;
  padding: 0 10px;
}

.header__nav {
  max-width: 320px;
  margin-left: auto;
}

.header__list {
  display: flex;
  color: rgb(131, 125, 136);
}

.header__item {
  margin-right: 26px;
}

.header__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__link {
  color: black;
  border: 1px solid black;
  padding: 13px 28px 12px;
}
.header__link:hover {
  background-color: black;
  color: white;
  transition: 900ms;
}

.header__checkbox-label {
  display: none;
  width: 32px;
  height: 32px;
  background: url(../../img/open.png) no-repeat center center;
  cursor: pointer;
}

.header__checkbox:checked + .header__checkbox-label {
  background: url(../../img/close.png) no-repeat center center;
}

.header__item-text {
  color: rgb(131, 125, 136);
}
.header__item-text:hover {
  color: black;
  transition: 900ms;
}

@media only screen and (max-width: 614px) {
  .header__item {
    margin-right: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .header__menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100px;
    background-color: beige;
  }
  .header__checkbox-label {
    display: block;
    margin-left: auto;
    padding: 24px;
  }
  .header__checkbox:checked ~ .header__menu {
    display: block;
    display: flex;
  }
  .header__list {
    display: flex;
    flex-direction: column;
  }
}
.intro {
  background-color: rgb(45, 38, 65);
}

.intro__container {
  width: 1440px;
  display: flex;
  background-color: rgb(45, 38, 65);
  color: rgb(255, 255, 255);
  position: relative;
  position: relative;
}
.intro__container::after {
  position: absolute;
  width: 150px;
  height: 1px;
  content: "";
  background-color: rgb(255, 255, 255);
  top: 100px;
  left: 100px;
}
.intro__container::before {
  position: absolute;
  width: 697px;
  height: 649px;
  content: "";
  top: 0px;
  right: -100px;
  background-image: url(../../img/intro-before.png);
  background-repeat: no-repeat;
}

.intro__title {
  font-family: "DM Serif Display";
  width: 540px;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
}

.intro__text {
  font-family: "Karla";
  width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.inrto__link {
  font-family: "Karla";
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1.5px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  padding: 13px 28px;
}
.inrto__link:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 900ms;
}

.intro__wrapper {
  width: 540px;
  margin-top: 169px;
  margin-left: auto;
  margin-bottom: 100px;
}

.intro__img {
  margin-left: 35px;
  margin-top: 80px;
  margin-bottom: -80px;
}

.different {
  margin-top: 305px;
}

.different__container {
  position: relative;
}
.different__container::before {
  width: 697px;
  height: 649px;
  content: "";
  background-image: url(../../img/different-before.png);
  background-repeat: no-repeat;
}

.different__list {
  display: flex;
  justify-content: space-between;
}

.different__title {
  margin-bottom: 94px;
}

.different__item {
  width: 350px;
  padding-top: 118px;
}
.different__item:nth-child(1) {
  position: relative;
}
.different__item:nth-child(1)::after {
  position: absolute;
  width: 86px;
  height: 86px;
  content: "";
  background-color: rgb(150, 169, 198);
  border-radius: 50%;
  top: 12px;
  background-image: url(../../img/different-img.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.different__item:nth-child(2) {
  position: relative;
}
.different__item:nth-child(2)::after {
  position: absolute;
  width: 86px;
  height: 86px;
  content: "";
  background-color: rgb(150, 169, 198);
  border-radius: 50%;
  top: 12px;
  background-image: url(../../img/different-money-img.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.different__item:nth-child(3) {
  position: relative;
}
.different__item:nth-child(3)::after {
  position: absolute;
  width: 86px;
  height: 86px;
  content: "";
  background-color: rgb(150, 169, 198);
  border-radius: 50%;
  top: 12px;
  background-image: url(../../img/different-user-img.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.different__item-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.39px;
  margin-bottom: 16px;
}

.different__item-text {
  font-family: "Karla";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgb(131, 125, 136);
}

.title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
}

.abaut__container {
  width: 1110px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abaut__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.78px;
}

.abaut__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}