.abaut__container {
    width: 1110px;
    display: flex;
     display: flex
;
    justify-content: space-between;
    align-items: center;
}

.abaut__title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.78px;

}
.abaut__wrapper{
    display: flex
;
    justify-content: space-between;
    align-items: center;
}